<!-- index.html.erb - friendships -->
<h2>My Jammers</h2>

<br />
<table>
<thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @friendships.each do |friendship| %>
  <tr>
    <td>
    <%= friendship.friend.full_name %>
    </td>
    <td>
    <%= link_to 'Remove', friendship_path(friendship), method: :delete, data: { confirm: "Are you sure you want to remove #{friendship.friend.first_name} as a friend?"} %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<br />
<div><%= link_to 'Add more users to My Jammers list', new_user_friendship_path(current_user) %></div>