<!-- index.html.erb - friendships -->
<h1>My Friends</h1>
<h3><%= link_to 'Add Friends', new_user_friendship_path(current_user) %></h3>

<ol>
  <% @friendships.each do |friend| %>
  <li>
    <%= friend.first_name friend.last_name %>
  </li>
  <% end %>
</ol>