<!-- welcome_email.html.erb -->
<!doctype html>
<html lang="en">
<head>
  <meta content='text/html'; charset="UTF-8" http-equiv="Content-Type">
</head>
<body>
  <h1>Welcome to Jammer, <%= @user.full_name %>!</h1>
  <p>
    You have successfully signed up to Jammer,
    your username is: <%= @user.email %>.<br />
  </p>
  <p>
    To login, please follow this link: <%= @url %>
    </p>
    <p>Thanks for joining and get ready to Jam!</p>
</body>
</html>