/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

table {
  border: 1px solid black;
  border_collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  /*border-bottom: 1px solid black;*/
  /*border-right: 1px solid black*/
}

/*to remove the bottom border of the cells within the last row of the table*/
tr:last-child td {
  /*border-bottom: 0;*/
}

