<!-- index.html.erb - welcome -->
<h2>Welcome to Jammer!</h2>

<h3>Technology for making plans in the 22nd Century.</h3>

<h3>Available now.</h3>

<h3>What are you waiting for?</h3>

<h3>Start Jamming <%= link_to 'here', new_user_path %></h3>



