<!-- index.html.erb - friendships -->
<h2>My Friends</h2>

<br />
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @f_ships.each do |f_ship| %>
      <tr>
        <td>
          <%= f_ship.friend.full_name %>
        </td>
        <td>
          <%= f_ship.friend.user_name %>
        </td>
        <td>
          <%= link_to '(remove)', friendship_path(f_ship), method: :delete, data: { confirm: "Are you sure you want to remove #{f_ship.friend.first_name} as a friend?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to 'Add users to my Friends List', new_user_friendship_path(current_user) %></p>