<!-- index.html.erb - friendships -->
<h2>My Friends</h2>
<h4><%= link_to 'Add users to my Friends List', new_user_friendship_path(current_user) %></h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @friendships.each do |f| %>
      <tr>
        <td>
          <%= f.friend.full_name %>
        </td>
        <td>
          <%= f.friend.user_name %>
        </td>
        <td>
          <%= link_to 'remove friend', friendship_path(f), method: :delete, data: { confirm: "Are you sure you want to remove #{f.friend.first_name} as a friend?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>