<!-- new.html.erb - friendships -->
<h2>Add user to Friends List</h2>
<div class="main-wrapper">
  <%= form_tag "/users/#{current_user.id}/friendships" do %>
    <!-- default method for form_tag is POST -->
    <% @other_users.each do |other_user| %>
      <div class='item'>
        <%= other_user.full_name %>
        <%= radio_button_tag 'friendship[friend_id]', other_user.id %>
      </div>
    <% end %>
    <%= submit_tag "Add Friend" %>
  <% end %>
</div>