<!-- new.html.erb - friendships -->
<h2>Add user to Friends List</h2>

<!-- default method for form_tag is POST -->
<%= form_tag "/users/#{current_user.id}/friendships" do %>
  <% @other_users.each do |other_user| %>
    <div>
      <%= other_user.full_name %>
      <%= radio_button_tag 'friendship[friend_id]', other_user.id %>
    </div>
  <% end %>
  <%= submit_tag "Add Friend" %>
<% end %>