<!-- new.html.erb - friendships -->
<h2>Add users to Friends List</h2>
<div class="main-wrapper">
  <%= form_tag "/users/#{current_user.id}/friendships" do %>
    <!-- default method for form_tag is POST -->
    <% @not_friends.each do |not_friend| %>
      <div class='item'>
        <%= check_box_tag("new_friends[#{not_friend.id}]")%>
        <div class="checkbox-label"> <%= label_tag("new_friends[#{not_friend.id}]", not_friend.full_name) %></div>
      </div>
    <% end %>
    <%= submit_tag "Add Friends" %>
  <% end %>
</div>