<!-- index.html.erb - rsvps -->
<h2>Look, Ma!  People wanna Jam with me!</h2>

<% @jams_invited_to.each do |j| %>
  <div class="text-block">
      <span class="labels">Title:</span> <%= link_to j.name, j %><br />
      <span class="labels">Location:</span> <%= j.location %><br />
      <span class="labels">Description:</span> <%= j.description %><br />
      <span class="labels">Invited by:</span> <%= User.find(j.user_id).full_name %>
  </div>
<% end %>
