/* Top-Header */
.top-header {
  height: 10px;
  padding-top: 10px;
}

/* Notice */
.notice {
  color: #FF0000;
}

/* Success */
.success {
  color: #FF680D;
}

.flash-container {
  width: 900px;
  /*background-color: yellow;*/
  margin: 0 auto 10px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-bottom: 20px;
}

.nav {
  text-align: center;
  margin-bottom: 50px;
  /*border-top: 5px solid rgb(22, 173, 88);*/
  /*background-color: green;*/
}

a:link {
  text-decoration:none;
  color: rgb(22, 173, 88);
}

a:visited {
  text-decoration:none;
  color: rgb(22, 173, 88);
}

a:hover {
  text-decoration:underline;
  color:rgb(196, 182, 15);
}

table {
  border: 1px solid black;
  border_collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}

  th {
    background-color: rgb(22, 173, 88);
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
  }

  th, td {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    /*border-bottom: 1px solid black;*/
    /*border-right: 1px solid black*/
  }

  td {
    text-align: center;
  }

  tr td:first-child {
    text-align: left;
  }

/* Logo */
.logo {
  display: inline-block;
}

  .logo img {
    height: 70px;
  }

.greenBar {
  /*background-color: rgba(22, 173, 88, 0.2);*/
  text-align: center;
  padding: 20px;
  border-top: 10px solid rgb(22,173,88);
  border-bottom: 1px solid silver;
}

.text-block {
  margin: 0 200px 20px;
  /*border: 2px solid red;*/
}

.main-wrapper {
  /*border: 5px solid green;*/
  width: 220px;
  margin: 0 auto;
}

.text-block-single {
  margin: 0 100px 20px;
  /*border: 2px solid red;*/
  text-align: center;
}

.item {
  /*border: 1px solid green;*/
  margin-bottom: 10px;
}

/*.single-item {
  border: 1px solid blue;
  display: inline-block;
}*/

.labels {
  font-weight: bold;
}

.container {
  /*border: 2px solid blue;*/
}

.checkbox-label {
  display: inline-block;
  clear: right;
}

.wrapper {
  margin-bottom: 200px;
}



